.box{
    background-color: orange;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.container{
background-color: purple;
display: flex;
justify-content: space-evenly; /*zentriert horizontal*/
align-items: center; /*zentriert vertikal*/
}